@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --color-main: #987cff;
  --color-main-shade: #bba8ff;
  --gray-100: #fafafa;
  --gray-200: #f6f6f6;
  --gray-300: #cccccc;
  --gray-400: #999999;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--gray-100);
}
.user-page {
  min-height: 95vh;
  position: relative;
}
.links-feed-clean {
  padding-bottom: 100px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--color-main);
}
h2 {
  font-weight: 400;
}
input:focus {
  border-left: 5px solid var(--color-main);
  outline: none;
}
textarea:focus {
  border-left: 5px solid var(--color-main);
  outline: none;
}
.text-btn {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-main);
  background-color: transparent;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text-btn:hover {
  color: var(--color-main-shade);
}
.submit-btn {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: var(--color-main);
  border: none;
  padding: 13px 20px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0px 14px 30px -5px rgb(0 0 0 / 13%);
}
.submit-btn:hover,
.upload-btn:hover {
  background-color: var(--color-main-shade);
}
.upload-btn {
  background-color: var(--color-main);
  padding: 13px 20px;
  font-weight: 700;
  display: block;
  margin-top: 15px;

  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.text-color-main {
  color: var(--color-main) !important;
  cursor: pointer;
}

/* nav bar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;

  padding: 10px 0px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
}
.nav-logo {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-button {
  /* padding: 12px 16px;
  
  border-radius: 5px;
  border: 2px solid var(--color-main); */

  cursor: pointer;
  color: var(--color-main);
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
}
.nav-button:hover {
  /* background-color: var(--color-main-shade);
  color: white;
  border-color: var(--color-main-shade); */
  color: var(--gray-400);
}
.nav-button-2 {
  margin-right: 20px;
  /* border-radius: 100px;
  border: 2px solid var(--color-main); */

  cursor: pointer;
  color: var(--color-main);
  font-size: 30px;

  background-color: transparent;

  align-items: center;
  justify-content: center;
  display: flex;
}
.nav-button-2:hover {
  color: var(--gray-400);
  border-color: var(--gray-400);
}
.nav-pic {
  cursor: pointer;
}
@media all and (max-width: 780px) {
  .navbar {
    width: 90%;
    height: 60px;
  }
  .nav-logo {
    font-size: 22px;
  }
  .nav-button {
    font-size: 18px;
  }
  .nav-button-2 {
    font-size: 23px;
  }
}

/*index*/
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--gray-200); */
  min-height: 95vh;
  position: relative;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 1000px;
  padding: 20px 0px 150px 0px;
}
/* .hero-img {
  max-width: 80%;
  margin: auto;
} */
.hero > * {
  flex-basis: 100%;
}
.hero > * + * {
  margin-left: 2em;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-title {
  font-size: 45px;
  margin-bottom: 0px;
  font-weight: 700;
}
.hero-subtitle {
  color: var(--gray-400);
  font-size: 22px;
  font-weight: 300;
}
.address-bar {
  font-size: 22px;
  box-shadow: 0px 14px 30px -5px rgb(0 0 0 / 13%);
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media all and (max-width: 780px) {
  .hero {
    flex-direction: column;
  }
  .hero > * + * {
    margin-left: 0;
  }
  .hero-title {
    font-size: 30px;
  }
  .hero-subtitle {
    font-size: 20px;
  }
  .address-bar {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
}

/* user page*/

.user-profile {
  margin-bottom: -50px;
  /* margin: auto; */
}
.user-bg {
  height: 200px;
  width: 100%;
}
.user-bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-90px);
  margin-bottom: 0px;
}
.profile-pic,
.profile-pic-admin {
  border-radius: 100px;
}
.user-intro {
  margin-top: 0px;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  width: 50%;
}
.user-location {
  margin-top: 5px;
  font-size: 20px;
  color: var(--gray-400);
}
.social-icons-row {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.social-icon {
  color: var(--gray-400);
  font-size: 25px;
  margin: 0px 7px;
}
.social-icon:hover {
  color: black;
}
@media all and (max-width: 780px) {
  .user-intro {
    font-size: 18px;
    width: 100%;
  }
  .user-bio-section {
    width: 90%;
    margin: auto;
  }
  .user-bg {
    height: 150px;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .user-location {
    font-size: 18px;
  }
  .link-icon {
    display: none;
  }
  .feed-title {
    font-size: 18px !important;
  }
  .feed-url {
    font-size: 13px !important;
  }
  .title-url-wrapper {
    max-width: 50%;
    align-items: flex-start !important;
    display: block;
  }
  .arrow {
    font-size: 25px !important;
  }
  .card {
    padding: 22px 22px !important;
  }
}
/* link card clean*/

.card-wrapper {
  width: 85%;
  max-width: 1000px;
  margin: auto;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;

  color: black;
  margin: auto;
  padding: 25px 25px;
  margin-bottom: 30px;

  border-radius: 15px;
  /* box-shadow: 0px 8px 15px rgba(107, 107, 107, 0.1); */
  box-shadow: 0px 14px 30px -5px rgb(0 0 0 / 13%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}
.card:hover {
  box-shadow: 0 20px 10px -5px rgb(0 0 0 / 13%);
  transform: translateY(-7px);
}
.card:hover > .arrow {
  transform: translateX(5px) translateY(0) translateZ(0);
}
.arrow {
  transition: all 0.3s ease 0s;
  font-size: 30px;
  color: black;
}
.link-icon {
  font-size: 30px;
  color: var(--gray-400);
}
.title-url-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.feed-title {
  font-size: 25px;
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}
.feed-url {
  font-size: 15px;
  font-weight: 300;
  color: var(--gray-400);
  margin: 10px 0px 0px 0px;
}

/*admin page*/
.bio-section-wrapper {
  width: 85%;
  max-width: 1000px;
}
.avatar-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 30px;
}

input[type="file"] {
  display: none;
}
.avatar-background {
  width: 100%;
  height: 150px;
}
.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: auto;
  position: relative;
  min-height: 95vh;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid black; */
  padding: 25px 35px;
  background-color: white;
  box-shadow: 0px 4px 30px 0px rgb(0 0 0 / 10%);
  border-radius: 5px;
}
.form-input {
  height: 50px;
  width: 100%;
  /* width: 500px; */
  font-size: 20px;
  border: none;
  margin-bottom: 10px;
  background-color: var(--gray-200);
  border-radius: 5px;
  padding-left: 10px;
}
.input-area {
  font-size: 20px;
  border: none;
  margin-bottom: 10px;
  max-width: 100%;
  height: 150px;
  font-family: "Inter", sans-serif;
  background-color: var(--gray-200);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}
.form-title {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-400);
  margin-bottom: 5px;
  margin-top: 0px;
}
.change-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.change-bg-btn {
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.twitter-picker {
  box-shadow: none !important;
  background-color: var(--gray-200) !important;
  width: 100% !important;
}

.add-new-btn {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.admin-card {
  display: flex;

  flex-direction: column;
  background-color: white;
  width: 100%;
  color: black;
  margin: auto;
  padding: 20px 25px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 30px 0px rgb(0 0 0 / 10%);
}
.admin-card-title-url {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.admin-card-edit-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.edit-form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.edit-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.edit-button {
  font-size: 25px;
  padding: 10px;
  background-color: white;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: var(--gray-400);
}
.edit-button:hover {
  color: var(--gray-300);
}
.link-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0px;
}
.link-url {
  font-size: 15px;
  margin-bottom: 0px;
  color: var(--gray-400);
}

@media all and (max-width: 780px) {
  .bio-section-wrapper {
    width: 90%;
  }
  .form-input {
    font-size: 18px;
  }
  .input-area {
    font-size: 18px;
  }
  .form-wrapper {
    padding: 20px 20px;
  }
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 85%;
  max-width: 1000px;
  border-top: solid 1px var(--gray-400);
  padding-top: 0px;
  /* footer position*/
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  min-height: 5vh;
}
.footer-text {
  color: var(--gray-400);
  font-weight: 500;
  font-size: 22px;

  /* font-family: "Oswald", sans-serif; */
}
.footer-text:hover {
  color: black;
}

.footer-logo {
  font-size: 32px;
  color: var(--gray-400);
  margin: 0px;
}
.footer-logo:hover {
  color: black;
}
@media all and (max-width: 780px) {
  .footer-text {
    font-size: 18px;
  }
  .footer-logo {
    font-size: 26px;
  }
  .footer {
    height: 60px;
  }
}
/*sign up page*/
.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  max-width: 1000px;
}
.btn-google {
  border: none;
  padding: 20px 20px;
  background-color: var(--gray-300);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  margin-top: 40px;
}

.btn-google:hover {
  background-color: var(--gray-400);
}
.bg-color-black {
  background-color: black;
}
.bg-color-black:hover {
  background-color: rgb(82, 82, 82);
}
.error {
  font-size: 18px;

  color: #df3b3b;
  margin-bottom: 15px;
}
@media all and (max-width: 780px) {
  .sign-up-wrapper {
    width: 85%;
  }
  .error {
    font-size: 15px;
  }
  .btn-google {
    font-size: 17px;
    padding: 17px 17px;
  }
}

.success-page,
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 1000px;
  margin: auto;
}
.success-img {
  width: 50%;
}
.error-img {
  width: 70%;
}

@media all and (max-width: 780px) {
  .success-page {
    width: 95%;
  }
  .success-img {
    width: 70%;
  }
  .error-img {
    width: 100%;
  }
}
/*

main {
  padding: 1rem 10vw;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


img {
  max-width: 100%;
}

input {
  display: inline-block;
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* Navbar */
/*
.navbar {
  height: 70px;
  width: 100%;
  background: white;
  color: var(--colors-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar li {
  border-radius: 50%;
}

/* Buttons */
/*
.btn,
button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled] {
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-green);
  color: white;
}

button.btn-google {
  background-color: white;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Cards */
/*
.card {
  padding: 2rem;
  margin: 1rem 0;
  background-color: white;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

.card footer {
  display: flex;
}

.card-img-center {
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  color: white;
  background: var(--color-blue);
}

/* Loader */
/*
.loader {
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* File uploads */
/*
input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
  margin-left: auto;
  background: white;
  padding: 5px;
  margin: 5px 0;
}
/* Utilities */
/*
.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden {
  display: none;
}
*/
